@* @model SchoolManagementSystem.Data.Entities.Course

@{
    ViewData["Title"] = "Delete Course";
}

<h2>Are you sure you want to delete @Model.CourseName?</h2>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form> *@