@{
    ViewData["Title"] = "Student Not Found";
}

<h2>Employee Not Found</h2>

<div class="alert alert-warning">
    <p>Sorry, the Student you are looking for could not be found.</p>
    <a href="@Url.Action("Index", "Attendance")" class="btn btn-primary">Back to Attendance List</a>
</div>
