@model dynamic

<form asp-action="@ViewData["FormAction"]" method="post" enctype="multipart/form-data">
    @foreach (var field in ViewData["Fields"] as List<string>)
    {
        <div class="form-group">
            <label asp-for="@field"></label>
            <input asp-for="@field" class="form-control" />
        </div>
    }
    <button type="submit" class="btn btn-primary">Save</button>
</form>
