<table class="table table-striped table-hover">
    <thead>
        <tr>
            @foreach (var header in ViewData["Headers"] as List<string>)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @RenderBody()
    </tbody>
</table>
