@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div>
    <partial name="_Stats" />
</div>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Students" class="btn btn-primary">Manage Students</a>
    </div>
    <div class="col-md-4">
        <a asp-action="Teachers" class="btn btn-primary">Manage Teachers</a>
    </div>
    <div class="col-md-4">
        <a asp-action="Courses" class="btn btn-primary">Manage Courses</a>
    </div>
</div>